{% load static %}
{% load i18n %}
<header>
    <div class="headerCarusel">
        {% for post in hb %}
            <div>
                <img src="{{post.img}}" alt="">
            </div>
        {% endfor %}
    </div>
    <div class="discovery">
        <div class="float1">
            {% for post in mt %}
                <p class="f1">{{post.float1}}</p>
                <p class="f2">{{post.float2}}</p>
                <p class="f3">{{post.float3}}</p>
            {% endfor %}
        </div>
        <div class="btnToMain">
            <a href="#main" class="btn">{% trans 'Исследуй нас' %}</a>
        </div>
    </div>
</header>