{% load static %}
{% load i18n %}
<div class="navbarBlock">
    <div class="float2">
        <span>
            <a href="{% url 'index' %}" class="logo">Logo</a>
        </span>
        <span class="right">
            <div class="dropdown">
                <a href="#" class="dropbtn">{% trans 'Проекты' %}</a>
                <div class="dropdown-content">
                    {% for post in cate %}
                        <a href="#">{{post.name}}</a>
                    {% endfor %}
                </div>
            </div>
            <div class="dropdown">
                <a href="#" class="dropbtn">{% trans 'Услуги' %}</a>
                <div class="dropdown-content">
                    <a href="#">Link 1</a>
                    <a href="#">Link 2</a>
                    <a href="#">Link 3</a>
                </div>
            </div>
            <a href="#">{% trans 'О нас' %}</a>
            <a href="#">{% trans 'Контакты' %}</a>
            <div class="lang">
                <div class="dropdown">
                    <button class="dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="bi bi-translate"></i></button>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'set-language' 'ru' %}">Русский</a></li>
                        <li><a class="dropdown-item" href="{% url 'set-language' 'en' %}">English</a></li>
                    </ul>
                </div>
            </div>
            <button class="theme theme-toggle"><i class="bi bi-moon-stars"></i></button>
        </span>
        <span class="mobile">
            <button class="mobilemenu" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-list"></i></button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasRightLabel"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"><i class="bi bi-x-lg"></i></button>
                </div>
                <div class="offcanvas-body">
                    <div class="bodyClass">
                        <!--  -->
                        <div class="accordion accordion-flush" id="accordionFlushExample">
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">{% trans 'Проекты' %}</button>
                                </h2>
                                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        {% for post in cate %}
                                            <a href="#">{{post.name}}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">{% trans 'Услуги' %}</button>
                                </h2>
                                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        {% for post in cate %}
                                            <a href="#">{{post.name}}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h2 class="accordion-header">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree"><i class="bi bi-translate"></i></button>
                                </h2>
                                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                                    <div class="accordion-body">
                                        <a class="dropdown-item" href="{% url 'set-language' 'ru' %}">Русский</a>
                                        <a class="dropdown-item" href="{% url 'set-language' 'en' %}">English</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--  -->
                        <a href="#">{% trans 'О нас' %}</a>
                        <a href="#">{% trans 'Контакты' %}</a>
                        <button class="theme theme-toggle"><i class="bi bi-moon-stars"></i></button>
                    </div>
                </div>
            </div>
        </span>
    </div>
</div>